fastapi~=0.115.0
uvicorn
openai
instructor
sqlalchemy~=2.0.48
pydantic
python-dotenv
python-multipart
pypdf
chromadb~=1.5.5
langchain
langchain-openai
langchain-community
psycopg2-binary
tiktoken
langchain-text-splitters
ragas
datasets